.header {
  background-color: var(--gray-800);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-block: 1.25rem;
  font-weight: 700;
  font-size: 1.599375rem;

  & > img {
    height: 3.5125rem;
  }
}
