.sidebar {
  background: var(--gray-800);
  border-radius: 0.5rem;
  overflow: hidden;

  & img.cover {
    /* border-top-right-radius: inherit;
    border-top-left-radius: inherit; */
    width: 100%;
    display: block; /* remove padding-bottom because img is inline */
    height: 4.5rem;
    object-fit: cover;
    opacity: 70%;
  }

  & div.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -2rem;
    & strong {
      margin-top: 1rem;
      color: var(--gray-100);
      line-height: 1.6;
    }

    & span {
      font-size: 0.875rem;
      color: var(--gray-400);
      line-height: 1.6;
    }
  }

  & footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;

    & a {
      text-decoration: none;
      color: var(--green-300);
      font-weight: bold;

      height: 3.125rem;
      border: 1px solid var(--green-300);
      border-radius: 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.625rem;

      transition: color 0.1s, background-color 0.1s;
      &:hover {
        background-color: var(--green-500);
        color: var(--white);
        border: none;
      }
    }
  }
}
